.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.mainContainer{
  display: flex;
  flex-direction: column;
}

.header{
  display:flex;
  flex-direction: column;
  margin: 0;
  background-color:rgba(4,66,127,0.6);
  color:lightgray;
}

h1{
  padding-left: 1rem;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 100;

}

.newTask {
  display: flex;
  align-self: flex-end;

}

h2{
    text-align: center;
    color: gray;

}

#Blocker{
  border: 4px gray solid;
}

#Low{
  border: 4px blue solid;
}

#Medium{
  border: 4px green solid;
}

#High{
  border: 4px red solid;
}

#popup{
  position:fixed;
  left: 50%;
  top: 35%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-color:rgba(0,0,0,0.7);
  width: 30%;
  height: 48%;
  z-index:99;
}

form{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input{
  padding: 1rem 2rem;
  margin: 1rem 2rem;
}

button {
    background-color: gray;
    border: none;
    color: white;
    padding: 8px 18px;
    margin-left: 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    color: black;
}

select {
  height: 3rem;
  padding: 1rem 2rem;
  margin: 1rem 2rem;
}

.btn {
  padding: 1rem 2rem;
  margin: 1rem 2rem;
}

.columnContainer{
  display: flex;
  flex-direction: row;
}

.middleColumn{
  border-left: 1px solid black;
  border-right: 1px solid black;
  min-width: 489px;
}

.leftColumn{
  min-width: 489px;
}

.rightColumn{
  min-width: 489px;
}

ul{

  display: flex;
  flex-direction: column;

  padding: 1rem;

}

.done{

  margin-top: 1rem;
  display: inline-block;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  color: green;
  width: 350px;
  height: 180px;
  background-color:rgba(87,140,193,0.7);

}

.doing{

  margin-top: 1rem;
  display: inline-block;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  color: white;
  min-width: 417px;
  width: 350px;
  height: 180px;
  background-color:rgba(87,193,140,0.8);

}

.todo{

  margin-top: 1rem;
  display: inline-block;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: orange;
  color: white;
  min-width: 417px;
  width: 350px;
  height: 180px;
  background-color:rgba(87,140,193,0.8);

}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
