.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.mainContainer{
  display: flex;
  flex-direction: column;
}

.header{
  margin: 0;
  background-color: gray;
  color:lightgray;
}

h1{
  padding-left: 1rem;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 100;

}

h2{
    text-align: center;
    color: gray;
}



.columnContainer{
  display: flex;
  flex-direction: row;
  justify-content:
}

.middleColumn{
  border-left: 1px solid black;
  border-right: 1px solid black;

}

ul{

  display: flex;
  flex-direction: column;

  padding: 1rem;

}

.card{

  margin-top: 1rem;
  display: inline-block;
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  background-color: orange;
  width: 350px;
  height: 150px;

}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
